<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        description="Adds options to change the top blue bar's background color and replace its
        'PowerSchool SIS' text with custom text."
        name="TCAPS Test Server Identification"
        version="24.5.0.2"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
    <publisher name="Traverse City Area Public Schools">
        <contact email="schaubda@tcaps.net"/>
    </publisher>
    <autoinstall required="true">
        <autoenable required="true"/>
        <autoredeploy/>
    </autoinstall>
</plugin>